[Desktop Entry]
Name=Ukbd Atspi integration
GenericName=Atspi integration for Ukbd
Exec=ukbd-atspi
Icon=ukbd
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
